<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Propo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        var app = angular.module('myApp', ['ngCookies']);
        app.controller('myCtrl', function ($scope, $http, $cookies) {

            $scope.login = function () {
                var req = {
                    method: 'POST',
                    url: 'https://beyondbanking.openbankproject.com/my/logins/direct',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'DirectLogin username=' + $scope.username + ',password=' + $scope.password + ', consumer_key="q3eodavv15klbdhhcoxrbmb5kpwlmxxq01rg4kwi"'
                    }
                }

                $http(req).then(function (response) {
                    $scope.myWelcome = response.data;
                    localStorage.setItem("user_token", response.data.token);
                    window.location.href = 'landingpage.html';
                });
            };
        });



    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 login-sec">
                    <center><img class="img-rounded" src="../propo logo small.png"></center>
                    <form class="login-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                            <input type="text" class="form-control" placeholder="" ng-model="username">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" class="form-control" placeholder="" ng-model="password">
                        </div>


                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <small>Remember Me</small>
                            </label>
                            <button type="submit" ng-click="login()" class="btn btn-login float-right">Submit</button>
                        </div>

                    </form>

                </div>
                <div class="col-md-8 col-sm-4 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active image-item">
                                <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Take back control on your finances</h2>
                                        <p>Spending money on stuff you don’t need? Curious how you can take back control on
                                         your finances? Propo is here to help you! With Propo you have full control over your finances.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item image-item">
                                <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Finance is easy</h2>
                                        <p>Propo is set up in just a few minutes. Almost everything is automated, so you don’t have to think too much,
                                         we do that for you! With our automated budgets you can just sit their and do your personal finance care free.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item image-item">
                                <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Reach your financial goals</h2>
                                        <p>Do you want to save money for a bigger goal, but is saving too hard?
											With Propo you can easily set some money on the side, and see your savings account grow.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
</body>

</html>